header {
    display: flex;
    padding: 16px;
    background-color: #2E7D32;
    color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a {
    color: inherit;
    text-decoration: none;
}

.amazon-link {
    display: flex;
}

#amazon-svg {
    margin-right: 4px;
}

.select-boxes {
    display: flex;
    flex: 1;
    margin-left: 16px;
}

#bookDropdown {
    min-width: 350px;
    margin-right: 24px;
}

#chapterDropdown {
    min-width: 200px;
}