main {
    padding: 24px;
}
.cards > * {
    margin: 16px 0;
}

.App .activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .cards {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: auto;
    }
}
