main {
    padding: 24px;
}
.cards > * {
    margin: 16px 0;
}

@media (min-width: 768px) {
    .cards {
        display: flex;
        justify-content: space-between;
    }

    .cards > * {
        
    }
}
