main {
    padding: 24px;
}
.cards > * {
    margin: 16px 0;
}

.App .activity {
    display: none;
    max-width: 1200px;
    margin: auto;
}

.App .activity[active="true"] {
    display: block;
}

@media (min-width: 768px) {
    .cards {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: auto;
    }
}
